#print {
  width: 21cm;
  border: solid black 1px;
  margin: auto;
  line-height: 1.2;
}

@media print {
  #fontSize {
    display: none;
  }

  #program {
    display: none;
  }

  #announcements {
    page-break-inside: avoid;
  }

  #print {
    width: 100%;
    padding: 0;
    border: none;
  }
}
